// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p {
  color: rgb(0, 110, 255);
}
p.sign_up {
  color: gray;
}
#error_explanation {
 text-align: left; 
}
.card {
  padding: 20px;
  margin: 20px;
  background-color: white;
}
.btn {
  width: 150px;
}
#left {
  text-align: left;
}
.row {
  padding: 20px;
}
.navbar {
  background-color: rgb(212, 201, 201);
  border: none;
}
li {
  font-size: 2rem;
  padding: 20px 50px;
  align-items: center;
}
#logo {
  padding-top: 30px;
}
