// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p {
  color: rgb(0, 110, 255);
}
p.sign_up {
  color: gray;
}
#error_explanation {
 text-align: left; 
}